@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the functions/mixins */
@import '@animxyz/core';
/* Add all the core/utilities selectors */
@include xyz-all;
@include xyz-core;
@include xyz-utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  font-family: "DM Sans", sans-serif;
  color: #030637;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

html{
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }
}

p{
  font-weight: 300;
  font-size: 18px;
}

/* Project page cover style */


/* Side Tabs CSS */
.side-tabs{
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.side-tab-element{
  padding: 3px 0px;  
}
.side-tab-element:hover{
  color: #0B097C;
}

/* Tab content css */
.project-section{
  padding: 15vh 0;
  overflow: auto;
}
.project-section-heading{
  font-family: 'Yeseva One', serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}

.project-section-subheading{
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.project-section-small-heading{
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.project-section-image{
  border-radius: 16px;
}

@media screen and (max-width: 768px){
  p{
    font-size: 16px;
  }
  .project-section{
    padding: 20px 0px;
  }
  .side-tabs{
    display: none;
  }
  .project-section-heading{
    font-size: 20px;
    margin-bottom: 4px;
  }
  .project-section-subheading{
    font-size: 16px;
    margin-bottom: 4px;
  }
  .project-section-small-heading{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
}


/* Marquee CSS */
.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite; /* Adjust duration as needed */
}

.marquee span {
  display: inline-block;
  padding-right: 50px; /* Adjust as needed */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}