@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the functions/mixins */
@import '@animxyz/core';
/* Add all the core/utilities selectors */
@include xyz-all;
@include xyz-core;
@include xyz-utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  font-family: "DM Sans", sans-serif;
  color: #030637;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

html{
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; 
  }
}

p{
  font-weight: 300;
  font-size: 18px;
}

/* Project page cover style */


/* Side Tabs CSS */
.side-tabs{
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.side-tab-element{
  padding: 3px 0px;  
}
.side-tab-element:hover{
  color: #0B097C;
}

/* Tab content css */
.project-section{
  padding: 15vh 0;
  overflow: auto;
}
.project-section-heading{
  font-family: 'Yeseva One', serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}

.project-section-subheading{
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.project-section-small-heading{
  font-family: 'DM sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.project-section-image{
  border-radius: 16px;
}

@media screen and (max-width: 768px){
  p{
    font-size: 12px;
  }
  .project-section{
    padding: 20px 0px;
  }
  .side-tabs{
    display: none;
  }
  .project-section-heading{
    font-size: 28px;
    margin-bottom: 12px;
  }
  .project-section-subheading{
    font-size: 24px;
    margin-bottom: 4px;
  }
  .project-section-small-heading{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
}


/* carousel styles */
.carousel-container{
  padding-top: 40px;
  min-height: 65vh;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  color: #555;
}

button:first-child {
  left: 10px;
}

button:last-child {
  right: 10px;
}

@media screen and (max-width: 640px){
  .carousel-container{
    padding-top: 0px;
    min-height: 80vh;
  }
}
@media screen and (max-width: 768px){
  .carousel-container{
    padding-top: 0px;
    min-height: 70vh;
  }
}

/* Marquee.css */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-inner {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.marquee-item {
  display: inline-block;
  padding: 0 1.5em;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


/* Back To Top Button Style */
.back-to-top {
  display: none; 
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 12px;
  color: #030637;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  transition: display 0.3s, opacity 0.3s, bottom 0.3s;
  transform: rotateZ(90deg);
}
.home-fixed{
  display: none; 
  position: fixed;
  bottom: 80px;
  left: 20px;
  font-size: 12px;
  color: #030637;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  transition: display 0.3s, opacity 0.3s, bottom 0.3s;
  transform: rotateZ(-90deg);
}

/* Show the button when scrolling down */
@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
  .home-fixed{
    display: block;
  }
}

/* CursorCircle.css */
.cursor-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #03063741;
  pointer-events: none; /* This ensures the circle doesn't interfere with other mouse events */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 1000;
}

/* Progress Bar Style */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.0);
  z-index: 99;
}

.progress-bar {
  height: 100%;
  width: 0;
  transition: width 0.25s;
}

/* Card Style */
.project-card {
  width: 40vw;
  height: 80vh;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0px #0000001b;
  transition: all 0.3s ease-in-out;
}
.project-card:hover{
  box-shadow: 8px 8px 10px 0px #0000003b;
  background-size: 105% auto;
}

/* ripple styles */
.ripple-keywords{
  padding: 8px 12px;
  box-shadow: 0px 2px 6px #ef39396f;
  border-radius: 20px;
  margin: 10px 4px;
}